.center, .center-column, .top, .right, .bottom, .left {
	display: flex;
	justify-content: center;
	align-items: center;
}

.center-column {
    flex-direction: column;
}

.top    { align-items:     flex-start; }
.right  { justify-content: flex-end;   }
.bottom { align-items:     flex-end;   }
.left   { justify-content: flex-start; }

.single-spaced, .single-spaced * {
    line-height: 1;
}

@media (max-width: 1024px) {
	.desktop {
		display: none;
	}
}

.navbar-item {
    display: flex;
  }
  
  .navbar,
  .navbar-menu,
  .navbar-start,
  .navbar-end {
    align-items: stretch;
    display: flex;
    padding: 0;
  }
  
  .navbar-menu{
    flex-grow: 1;
    flex-shrink: 0;
  }
  .navbar-start{
    justify-content: flex-start;
    margin-right: auto;
  }
  .navbar-end{
    justify-content: flex-end;
    margin-left: auto;
  }
.field {
    justify-content: center;
    width: 400px;
    margin: 0 auto;
}
.container {
    width: 500px;
    margin: 0 auto;
}

.hero-body {
    margin: 50px;
}

/* .card {
    style visibility: hidden;
} */